@font-face {
    font-family: 'D-DIN Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Regular'), url('fonts/D-DIN.woff') format('woff');
}

/* Global modification */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html * {
    margin: 0; /* Chrome margin FIX */
    font-family: "D-DIN Regular";
    font-size: 1.1em;
    
    transition: all 0.3s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    margin-left: 100px;
    font-size: 1.8em;
    color: #D97D0E;
}

/*==================*/
/*===== HEADER =====*/
/*==================*/
.header-nav, .main-nav {
    position: absolute;
    top: 0;
    width : 100%;
    height: 85px;
}

.nav-logo img {
    position: absolute;
    left: 80px;
    top: 5px;
}

.nav-logo img.top {
    position: absolute;
    z-index: 1;
}

.nav-logo img.top:hover {
    opacity: 0;
    cursor: pointer;
}

.main-nav {
    display: inline-block;
    width: 100%;

    text-align: right;
    margin-top: 35px;
    padding-right: 16vh;
}

.main-nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-size: 0.8em;

    margin: 0 15px;
    padding: 5px 5px;
}

.main-nav a:hover {
    color: #993415;
}

/*==================*/
/*====== BODY ======*/
/*==================*/
body::-webkit-scrollbar {
    width: 12px; 
}
  
body::-webkit-scrollbar-track {
    background: #993415; 
}
  
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
    border: 2px solid orange;
}

/*=== MAIN PANEL ===*/
.main-panel {
    width: 100%;
    height: 100vh;
    
    background-size: 100% 100vh;
}

.computer-img img {
    position: absolute;

    top: 29vh;
    right: 12.3vh;
}

.computer-img .back {
    width: 50%;
    top: 15vh;
    right: 3vh;
}

.main-panel .container {
    position: relative;
    top: 40vh;
    margin-left: 100px; 
}

.main-panel .container h1 {
    font-size: 3em;
    margin-left: -3px;
    color: white;
}

.main-panel .container p {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    font-size: 0.9em;
}

.container a {
    text-decoration: none;
    color: white;

    font-size: 0.9em;
    padding: 10px;
    border-radius: 50px;
    background-color: #D97D0E;

    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.75);
}

.container a:hover {
    background-color: #993415;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.75);
}

/*=== MAIN PANEL IMG ===*/
.main-triangle-0 {
    position: absolute;
    width: 8%;
    left: 5vh;
    top: 82vh;
}

.main-triangle-1 {
    position: absolute;
    width: 10%;
    left: 90%;
}

.main-triangle-2 {
    position: absolute;
    width: 9%;
    left: 45%;
    top: -2%;
}

.main-circle-1 {
    position: absolute;
    width: 8%;
    left: -3%;
    top: 18%;
}

.main-circle-2 {
    position: absolute;
    width: 6%;
    top: 85%;
    right: -1%;
}

/*=== WHO IS PANEL ===*/
.who-is {
    margin: 160px 0;
}

.who-is p {
    margin-top: 20px;
    margin-left: 100px;

    width: 50%;
    font-size: 0.9em;
    color: black;
}

.info-container {
    position: relative;
    left: 60%;
    margin: -245px 0 0 110px;
    width: 300px;
    height: 350px;
    border-left: 8px solid #993415;
}

.info-container .label-chanel-info {
    position: relative;
    text-align: center;
    margin: 0;
    margin-left: 20px;
    top: -240px;
    font-size: 0.8em;
    text-decoration: none;
}


.info-container h5 {
    position: relative;
    margin-left: 80px;
    top: 85px;
    font-size: 0.8em;
    text-decoration: underline;
}

.panel-subs, .panel-view, .panel-videos {
    position: relative;
    margin-left: 80px;
    top: 68px;
    text-align: right;
    margin-right: 10px;
    font-size: 0.8em;

    color: #993415;
}

.info-container img {
    position: relative;
    width: 15%;

    top: 120px;

    margin-left: 20px;
}

/*=== PROJECT PANEL ===*/
.project-panel {
    width: 100%;
    height: 100vh;
    
    background-size: 100% 100vh;
}

.project-panel h2 {
    position: relative;
    top: 150px;
    color: #993415;
}

/*=== CONTACT PANEL ===*/
.contact-panel h2 {
    position: relative;
    color: #D97D0E;

    margin-bottom: 10px;
}

.contact-panel p {
    margin-top: 20px;
    margin-left: 100px;

    width: 50%;
    font-size: 0.9em;
    color: black;
}

/*=== CONTACT FORM ===*/
.contact-panel form {
    position: relative;
    margin: 0 auto;

    width: 800px;
    height: 350px;

    margin-top: 50px;
    margin-bottom: 150px;
    padding: 1em;
    border: 1px solid #993415;
    border-radius: 1em;
}

.contact-panel form div + div {
    margin-top: 1em;
  }

.contact-panel label {
    display: inline-block;
    width: 150px;
    text-align: left;

    font-size: 1em;
}

.contact-panel input, .contact-panel textarea {
    width: 600px;
    border: 1px solid #D97D0E;

    font-size: 0.9em;
}

.contact-panel textarea {
    vertical-align: top;
    height: 200px;
    
    resize: none;
    font-size: 0.8em;
}

.contact-panel .submit-button {
    margin-left: 50%;
    margin-top: 90px;

    transform: translateX(-50%);
}

.contact-panel datalist {
    padding: 20px;
    background-color: RED;
}

/*=== DESIGN PANEL ===*/
.design-panel {
    width: 100%;
    height: 50vh;
}

.design-panel h2 {
    position: relative;
    top: 150px;
    color: #993415;
}

.design-panel p {
    position: relative;
    top: 150px;
    
    margin-top: 20px;
    margin-left: 100px;

    font-size: 0.9em;
    color: black;
}

.design-panel h6 {
    position: relative;
    top: 78%;

    text-align: center;
    font-size: 0.7em;
    
    color: #993415;
}

.design-panel .a-gioco {
    text-decoration: none;
    color: black;
}

.design-panel a {
    text-decoration: none;
    color: #752810;
    font-size: 1em;
}

.design-panel a:hover {
    text-decoration: underline;
    color: #411609;
    font-size: 1em;
}

/*=======================*/
/*===== OTHER STUFF =====*/
/*=======================*/

/*=== CONTAINER VIDEO DISCOVER ===*/
.container-video {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10;

    background-color: rgb(0, 0, 0, 0.8);
}

.container-video iframe {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background-color: #993415;
    padding: 5px;
}

.container-video .hide-button {
    z-index: 11;
    
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 25px;

    padding: 5px 10px;
    border-radius: 5px;
    background-color: #993415;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.75);

    font-size: 1.5em;
    color: white;
}

.container-video .hide-button:hover {
    background-color: #D97D0E;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.container-video .subscribe-button {
    z-index: 11;
    
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px 15px;
    border-radius: 12px;
    background-color: #D97D0E;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.75);

    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

.container-video .subscribe-button:hover {
    z-index: 11;
    
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px 15px;
    border-radius: 12px;
    background-color: #993415;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.75);

    text-decoration: none;
    font-size: 1.6em;
    color: white;
}

/*==================*/
/*===== FOOTER =====*/
/*==================*/